body{
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.left {
text-align: left;
}

.center{
text-align: center;
}

.center-col{
	margin: auto;
    width: 90%;
}
.custom li a:hover{
background-color: #FFA366;

}

.custom li a{
	font-size: 22px;
}

 div.background {
    background: url(background.jpg) a ;
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}




